@model Finance_Tracker.Models.Graph

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Graph</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GraphNum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GraphNum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AcctNum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AcctNum)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
